<div class="well well-sm">
  <div class="row">

    <div class="col-sm-12">
      <strong><%= product.name %></small></strong>
      <% if product.description %>
        <p><%= product.description %></p>
      <% end %>
    </div>

    <div class="col-lg-6">
      <%= form_for order_item, remote: true do |f| %>
      Price: <span style="color: green"><%= number_to_currency product.price %></span>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>